.list {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
    padding: 4px 16px;
}

.list:hover {
    background-color: #f1f5f8;
}

.edit-button,
.trash-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .3s linear;
}

.edit-button i {
    color: #6be675;
}

.trash-button i {
    color: #e66b6b;
}

.title {
    transition: all .3s linear;
    color: #102a42;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: capitalize;
}

.title:hover {
    color: #617d98;
}
