
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

}

.clear {
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
  color: #e66b6b;
  font-size: 0.85rem;
  letter-spacing: 1.6px;
  cursor: pointer;
  transition: all .3s linear;
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

